version: 2.1

orbs:
  terraform: circleci/terraform@3.0.0

terraform_versions: &terraform_versions
  - 1.3.10
  - 1.13.4

terraform_folders: &terraform_folders
  - ./
  - ./modules/sqs_integration
  - ./modules/api_gw_v2_integration
  - ./examples/sqs
  - ./examples/provisioned_concurrency
  - ./examples/complete
  - ./examples/datadog
  - ./examples/legacy
  - ./examples/monorepo

workflows:
  validate:
    jobs:
      - terraform/fmt:
          checkout: true
          recursive: true
      - terraform/validate:
          checkout: true
          backend: false
          matrix:
            parameters:
              tag: *terraform_versions
              path: *terraform_folders
